*{
  margin: 0;
  padding: 0;
}
#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #007bff!important;
}
.navbar-brand img{
  height: 40px;
  padding-left: 30px;
}
.navbar-nav li{
  padding: 0 10px;
}
.navbar-nav li a{
  float: right;
  text-align: left;
}
#nav-bar ul li a:hover{
  color: #007bff! important;
}
.navbar{
  background: #fff;
}
.navbar-toggler{
  border: none! important;
}
.nav-link{
  color: #555! important;
  font-weight: 600;
  font-size: 16px;
}
.nav-link{
  text-transform: uppercase;
}
.wrapper{
  width: 1170px;
  margin: auto;
}
body{
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("images/200.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a{
  text-decoration: none!important;
}
.welcome-tex{
  position: absolute;
  width: 600px;
  height: 300px;
  margin: 20% 30%;
  text-align: center;
}
.welcome-tex h1{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 60px;
}
.welcome-tex h5{
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  padding-right: 73px;
}
.welcome-tex a{
  border: 1px solid #fff;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 20px;
  margin-left: -74px;
  display: inline-block;
  color: #fff;
}
.welcome-tex a:hover{
  background: #fff;
  color: #333;
}
